In [11]:
import pandas as pd

In [12]:
import seaborn as sns
%matplotlib inline
sns.set(style="ticks")

In [13]:
data = pd.read_csv('score_de_jamonosidad.csv',
                  usecols={'v1','v2','v3','score'})
data
# sns.pairplot(data, hue="score")

    score    v1    v2    v3
0      10  1985  59.7  2205
1      11  2855  55.0  2096
2      11  1737  65.6  1847
3      13  2905  61.4  1903
4      10  1666  66.1  1457
5      11  2927  61.0  1848
6      10  2341  66.1  1564
7      11  2737  58.9  2476
8       4  1414  57.0  2577
9       2  1838  58.9  2476
10      7  1480  68.5  1984
11     10  2191  59.2  1901
12      9  2229  58.8  1761
13      9  2204  58.6  1709
14      6  2140  59.2  1901
15      5  1730  54.4  2288
16      5  2072  49.6  2072
17      5  2929  54.3  2861
18      6  2268  58.7  2411
19      4  1983  51.7  2289
20      3  1792  61.9  2203
21      3  1606  52.7  2592
22      4  1492  57.8  2053
23     10  2835  59.7  1979
24      6  2416  54.9  2048
25      8  1638  65.3  1786
26      2  2649  43.8  2876
27      0  1503  53.5  2560

In [14]:
y = data.pop('score')

In [15]:
from sklearn import linear_model

In [16]:
clf = linear_model.SGDRegressor()
clf.fit(data,y)
# clf.score(data,y)

/home/antonio/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=None, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False)

In [19]:
objetivo = pd.read_csv('jamones_por_calificar.csv', usecols={'v1','v2','v3'})
objetivo

      v1  v2    v3
0   2383  59  1857
1   1598  61  2696
2   2883  67  1865
3   2898  56  2822
4   2877  44  1553
5   1966  55  2683
6   1786  66  2823
7   2813  63  2199
8   2882  52  2187
9   2859  49  1498
10  2334  64  1902

In [20]:
objetivo['score'] = clf.predict(objetivo)
print(objetivo)

      v1  v2    v3         score
0   2383  59  1857  6.472008e+15
1   1598  61  2696  5.886678e+15
2   2883  67  1865  7.422640e+15
3   2898  56  2822  8.480293e+15
4   2877  44  1553  7.085268e+15
5   1966  55  2683  6.570372e+15
6   1786  66  2823  6.376249e+15
7   2813  63  2199  7.649643e+15
8   2882  52  2187  7.771133e+15
9   2859  49  1498  6.990528e+15
10  2334  64  1902  6.425825e+15

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
reg = LogisticRegression()

In [26]:
reg.fit(data,y)
reg.score(data,y)

0.39285714285714285

In [27]:
objetivo = pd.read_csv('jamones_por_calificar.csv', usecols={'v1','v2','v3'})
objetivo.head()

     v1  v2    v3
0  2383  59  1857
1  1598  61  2696
2  2883  67  1865
3  2898  56  2822
4  2877  44  1553

In [28]:
objetivo['score'] = reg.predict(objetivo)
print(objetivo)

      v1  v2    v3  score
0   2383  59  1857     10
1   1598  61  2696      4
2   2883  67  1865     10
3   2898  56  2822      5
4   2877  44  1553     13
5   1966  55  2683      4
6   1786  66  2823      4
7   2813  63  2199     11
8   2882  52  2187     11
9   2859  49  1498     13
10  2334  64  1902     10